[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
[submodule "scratch"]
	path = scratch
	url = https://github.com/proteansec/awesome-scratch
[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "battery-widget"]
	path = battery-widget
	url = https://github.com/deficient/battery-widget.git
